{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container marketing">
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Карибы<span class="text-muted">– это 13 суверенных государств и 17 зависимых территорий, занимающие площадь более 1,06
                миллионов квадратных миль.</span>
            </h2>
            <p class="lead">В бассейне Карибского моря между Южной и Северной Америкой расположились Карибы,
                которые состоят не только из островных стран, но и материковой части Северной, Центральной и Южной
                Америки.
                Не все страны, омываемые Карибским морем, корректно называть Карибами. Например, в Карибский регион не
                всегда включаются Белиз, Венесуэла, Колумбия и другие. Все острова объединены в три большие группы –
                Багамские острова, Малые и Большие Антильские острова.</p>
        </div>
        <div class="col-md-5">
            <td bgcolor="#FFA07A"></td>
            <td><img src="{{ url_for('static', filename='img/c5b61a1c5f8cf46f3804d42c8c09cbc1.jpeg') }}" alt="Эмблема">
            </td>

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Погода Карибского бассейна. <span class="text-muted">На большинстве карибских островов климат солнечный, теплый, и тропический, на протяжении
                всего года.</span>
            </h2>
            <p class="lead"> Островное государство в Латинской Америке, в Карибском бассейне. Расположено на островах Куба, Хувентуд и на более чем 1600 мелких островах группы Больших Антильских островов. На востоке омывается Атлантическим океаном, на юге - Карибским морем. От Северной Америки отделено на западе Юкатанским проливом, на севере - Флоридским проливом. Унитарное государство. Столица и крупнейший город - Гавана. Денежная единица - песо. Официальный язык - испанский.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <td bgcolor="#FFA07A"></td>
            <td><img src="{{ url_for('static', filename='img/screen16.jpg') }}" alt="Эмблема" width="500"
                 height="350" >
            </td>
        </svg>

    </div>
</div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Вывод. <span class="text-muted">Страны Карибского бассейна</span></h2>
            <p class="lead">на данный момент находятся на стадии процветания и островные
                государства не только дружелюбны, но и готовы к сотрудничеству. Курорты привлекательны для селебрити со
                всего мира, а оттого и цены здесь немаленькие, но от этого курорты становятся лишь привлекательней, и
                турпоток с каждым годом растет.</p>
        </div>
        <div class="col-md-5">
            <td bgcolor="#FFA07A"></td>
            <td><img
                    src="{{ url_for('static', filename='img/1638536983_23-krot-info-p-karibi-ostrova-krasivie-foto-23.jpg') }}"
                    alt="Эмблема" width="500"
                    height="350">
            </td>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

</div>
{% endblock %}