{% extends 'base.html' %}

{% block title %}
Мексика
{% endblock %}

{% block body %}
{{ super() }}
<article class="blog-post">
    <h2 class="blog-post-meta">Вернуться <a href="about">назад</a></h2>
    <hr>
    <h2 class="blog-post-title">
        Расположение</h2>

    <p>Мексика находится на юге североамериканского континента. Соседи страны: США на севере, Белиз и Гватемала — на
        юго-востоке. У западных берегов Мексики плещется Тихий океан, а на востоке страна омывается Карибским морем и
        Мексиканским заливом.</p>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Чичен-Ица
            </h2>
            <p class="lead">Чичен-Ица — один из самых больших, величественных и наиболее хорошо восстановленных
                монументов эпохи майя. Знаменитые пирамиды и храмы Чичен-Ицы — самые известные из древних памятников
                полуострова Юкатан.</p>
        </div>
        <div class="col-md-5">
            <td bgcolor="#FFA07A"></td>
            <td><img src="{{ url_for('static', filename='img/CHichen-Itsa_.jpg') }}" alt="Эмблема" width="500"
                     height="350">
            </td>

        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Медный каньон
                </h2>
                <p class="lead">Медный каньон (Copper Canyon) находится в Мексике, штате Чиуауа на взгорье Тарахумара и
                    представляет собой целую цепь из шести огромных каньонов. Каждый каньон значительно больше Великого
                    Каньона, общая площадь составляет около 65 тыс. км². Поражает и глубина каньонов – от самого
                    неглубокого в 1000 м до глубочайшего в 1870 м. Для сравнения – средняя глубина Великого Каньона
                    составляет всего около 1200 м.</p>
            </div>
            <div class="col-md-5">
                <td bgcolor="#FFA07A"></td>
                <td><img src="{{ url_for('static', filename='img/Ruple.jpg') }}" alt="Эмблема" width="500"
                         height="350">
                </td>

        </div>
            </div>

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Гранд Сенот
                </h2>
                <p class="lead">Гранд Сенот, один из 10 самых популярных сенотов Юкатана. Как и большинство сенотов он
                    окружен тропическими зарослями деревьев и кустарников. Помимо плавания, снорклинга и дайвинга в
                    сенотах огромное удовольствие вам доставит небольшая прогулка по его территории.

                    Гранд Сенот является главным входом в систему пещер Sac Actun, протяженность которой 176 км. В
                    настоящее время Sac Actun является второй в мире системой пещер по длине. С системой взаимосвязано
                    более 130 сенотов. </p>
            </div>
            <div class="col-md-5">
                <td bgcolor="#FFA07A"></td>
                <td><img src="{{ url_for('static', filename='img/15988451660_79fbe46054_b.jpg') }}" alt="Эмблема" width="500"
                         height="350">
                </td>

        </div>
        {% endblock %}